NODE_ENV=development
PORT=3000

# mudar para db:5432 caso usar docker 
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pguatur?schema=public"

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=pguatur

JWT_SECRET="seu_jwt_secret_aqui"
